In [ ]:
import pandas as pd
import numpy as np

In [ ]:
fruits = pd.Series(['Apple', 'Banana', 'Mango', 'Grapes', 'Orange'])
print(fruits[2])

Mango

In [ ]:
data = {'Anu': 87, 'Rahul': 75, 'Priya': 92}
scores = pd.Series(data)
print(scores['Anu'])

87

In [ ]:
df = pd.DataFrame({
    'Name': ['Amit', 'Riya', 'John'],
    'Age': [20, 21, 19],
    'Marks': [88, 90, 85]
})
print(df['Marks'])

0    88
1    90
2    85
Name: Marks, dtype: int64

In [ ]:
emp_df = pd.DataFrame({
    'Name': ['Raj', 'Simran', 'Aman'],
    'Salary': [50000, 60000, 55000],
    'Department': ['HR', 'Finance', 'IT']
})
print(emp_df.loc[emp_df['Name'] == 'Raj', 'Salary'].values[0])

50000

In [ ]:
df = pd.DataFrame({
    'Name': ['A', 'B', 'C', 'D'],
    'Age': [18, 19, 20, 21],
    'Marks': [78, 85, 90, 88]
})
print(df.iloc[:3])

  Name  Age  Marks
0    A   18     78
1    B   19     85
2    C   20     90

In [ ]:
df = pd.DataFrame({
    'Name': ['Ravi', 'Simran', 'Amit'],
    'Age': [22, 23, 24],
    'City': ['Delhi', 'Mumbai', 'Kolkata']
})
df.at[2, 'Name'] = 'Karan'
print(df)

     Name  Age     City
0    Ravi   22    Delhi
1  Simran   23   Mumbai
2   Karan   24  Kolkata

In [ ]:
df = pd.DataFrame({
    'Name': ['A', 'B', 'C', 'D'],
    'Marks': [80, np.nan, 75, np.nan]
})
mean_val = df['Marks'].mean()
df['Marks'].fillna(mean_val, inplace=True)
print(df)

  Name  Marks
0    A   80.0
1    B   77.5
2    C   75.0
3    D   77.5

<ipython-input-8-2954762493>:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Marks'].fillna(mean_val, inplace=True)

In [ ]:
df = pd.read_excel("students.xlsx")
print(df.head())

FileNotFoundError: [Errno 2] No such file or directory: 'students.xlsx'

In [ ]:
null_age_df = df.loc[df['Age'].isnull()]
print(null_age_df)

KeyError: 'Age'

In [ ]:
df = pd.DataFrame({
    'Name': ['A', 'B', 'C'],
    'Salary': [45000, 50000, 52000]
})
print(df['Salary'].mean())

49000.0

In [ ]:
df = pd.DataFrame({
    'Name': ['A', 'B', 'C'],
    'Score': [85, None, None]
})
df.loc[df['Score'].isnull(), 'Score'] = 75
print(df)

  Name  Score
0    A   85.0
1    B   75.0
2    C   75.0

In [ ]:
df = pd.DataFrame({
    'ID': [1, 2, 3, 4, 5, 6],
    'Name': ['A', 'B', 'C', 'D', 'E', 'F'],
    'Grade': ['A', 'B', 'C', 'B', 'A', 'C'],
    'Marks': [85, 78, 88, 90, 76, 82]
})
print(df.iloc[2:6, 1:4])

  Name Grade  Marks
2    C     C     88
3    D     B     90
4    E     A     76
5    F     C     82

In [ ]:
df = pd.DataFrame({
    'Name': ['A', 'B', 'C', 'D'],
    'Age': [18, 21, 22, 19]
})
print(df.loc[df['Age'] > 20])

  Name  Age
1    B   21
2    C   22

In [ ]:
df = pd.DataFrame({
    'Item': ['Pen', 'Notebook', 'Pencil'],
    'Quantity': [10, 5, 20],
    'Price': [5, 20, 2]
})
df['Total'] = df['Quantity'] * df['Price']
print(df)

       Item  Quantity  Price  Total
0       Pen        10      5     50
1  Notebook         5     20    100
2    Pencil        20      2     40

In [ ]:
df = pd.DataFrame({
    'City': ['Delhi', 'Mumbai', 'Chennai'],
    'Temperature': [30, None, 35]
})
mean_temp = df['Temperature'].mean()
df['Temperature'].fillna(mean_temp, inplace=True)
print(df)

      City  Temperature
0    Delhi         30.0
1   Mumbai         32.5
2  Chennai         35.0

<ipython-input-16-543993237>:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Temperature'].fillna(mean_temp, inplace=True)